body {
	transition : all 700ms ease-out;
}
/*.tabby {
	width: 125px;
	padding: 0 20px 20px 20px;
	background-color: #050;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	float:right;
	box-shadow: 0px 7px 20px #888888;
	transition : all 700ms ease-out;
}*/
.line {
   stroke:rgb(0,0,0);
   stroke-width:15%;
   transition: all 700ms;
}
.jumbotron {
	position: relative;
	box-shadow: 0px 7px 20px #888888;
	transition: all 700ms;
	border-radius: 0 !important;
}
.jumbotron p.lead {
	margin-top: 25px;
	margin-bottom: 0px !important;
}
.jumbotron .refresh {
	position: absolute;
	bottom: 5px;
	right: 10px;
}